.header_section {
	width: 100%;
	float: left;
	background-image: url(../assets/images/banner-bg.png);
	height: auto;
	background-size: 100%;
	padding: 0px 0px 20px 0px;
	background-attachment: fixed;
}

.banner_section {
	width: 100%;
	float: left;
	padding-bottom: 305px;
}

.banner_taital {
	width: 100%;
	float: left;
	font-size: 80px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-family: "Righteous", Regular;
}

.banner_text {
	width: 63%;
	margin: 0 auto;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}

.read_bt {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.read_bt a {
	width: 100%;
	float: left;
	font-size: 16px;
	color: #141414;
	background-color: #ffffff;
	text-align: center;
	padding: 10px 0px;
	border-radius: 30px;
	margin-top: 50px;
	font-weight: 400;
}

.read_bt a:hover {
	background-color: #2b2278;
	color: #ffffff;
}

.client_section {
	width: 100%;
	float: left;
	padding-bottom: 160px;
}

.client_taital {
	width: 100%;
	font-size: 40px;
	color: #131313;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
}

.client_section_2 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0px 1px 16px -6px;
	border-radius: 30px;
	padding: 50px 70px;
	margin-top: 50px;
}

.client_main {
	width: 100%;
	display: flex;
}

.box_left {
	width: 48%;
}

.box_right {
	width: 48%;
	float: right;
	padding-top: 65px;
	margin-left: 30px;
}

.lorem_text {
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin: 0px;
	color: #0d0d0d;
	border: 1px solid #0d0d0d;
	padding: 90px 30px;
	border-radius: 30px;
}

.client_taital_left {
	width: 40%;
	float: left;
}

.client_taital_right {
	width: 60%;
	float: left;
}

.client_img {
	width: 100%;
	float: left;
	text-align: left;
}

.quick_icon {
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 30px;
}

.client_name {
	width: 100%;
	float: left;
	font-size: 24px;
	color: #012628;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	padding-top: 53px;
	padding-bottom: 0px;
}

.customer_text {
	width: 100%;
	float: left;
	font-size: 16px;
	color: #085a57;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	margin: 0px;
}

.carousel-indicators li {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #8781bd;
	bottom: -130px;

	position: relative;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
}

.carousel-indicators .active {
	background-color: #2b2278;
}

.choose_section {
	width: 100%;
	float: left;
	padding-bottom: 90px;
}

.choose_taital {
	width: 100%;
	font-size: 40px;
	color: #1f1f1f;
	font-weight: bold;
	text-align: center;
}

.choose_text {
	width: 70%;
	margin: 0 auto;
	font-size: 16px;
	color: #1f1f1f;
	padding-top: 30px;
	text-align: center;
}

.read_bt_1 {
	width: 170px;
	margin: 0 auto;
	text-align: center;
}

.read_bt_1 a {
	width: 100%;
	float: left;
	font-size: 16px;
	color: #ffffff;
	background-color: #000d10;
	text-align: center;
	padding: 10px 0px;
	border-radius: 30px;
	margin-top: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

.read_bt_1 a:hover {
	background-color: #2b2278;
	color: #ffffff;
}

.newsletter_box {
	width: 100%;
	border: 1px solid #6e6e6e;
	border-radius: 25px;
	padding: 20px 30px;
	display: flex;
	margin-top: 90px !important;
	float: left;
}

.let_text {
	width: 100%;
	font-size: 40px;
	color: #1f1f1f;
	font-weight: bold;
	padding-bottom: 0px;
}

.getquote_bt {
	width: 200px;
	padding-top: 6px;
}

.getquote_bt a {
	width: 100%;
	float: left;
	font-size: 16px;
	color: #ffffff;
	background-color: #2b2278;
	text-align: center;
	padding: 10px 0px;
	border-radius: 30px;
	font-weight: bold;
}

.getquote_bt a:hover {
	background-color: #000d10;
	color: #ffffff;
}
